{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "babel-plugin-rename-jsx-attribute",
      {
        "attributes": {
          "data-suppress": "data-hj-suppress"
        }
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": {
          "proposals": true,
          "version": "3.6"
        },
        "useBuiltIns": "entry"
      }
    ],
    "@babel/preset-typescript",
    "@babel/react"
  ]
}
